/* native elements */
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
}
x-block {
    width: 10em;
    height: 10em;
    display: block;
    position: absolute;
}

.a {
    background-color: deepskyblue;
}
.b {
    background-color: bisque;
    transform: rotate(50grad);
}
.c {
    background-color: cornflowerblue;
    transform: scale(0.5);
}
