<!-- Could we maybe somehow use a template for these sub-pages? -->
<!--<form><input ng-model="foo" ng-pattern="/\d{6}-\d{4}/"/></form>-->
<section class="center">
    <h2>Personoplysninger</h2>
    <p>Angiv dine oplysninger nedenfor.</p>
    <p>
        <label>CPR nr <img/></label>
        <input type="text" ng-pattern="foo" placeholder="ddmmåå-xxxx" ng-model="user.cpr" ng-pattern="/\d{6}-\d{4}/"/>
    </p>
    <p>
        <label>Navn</label>
        <input type="text" ng-model="user.name"/>
    </p>
    <p>
        <label>Installationsadresse <img/></label>
        <input type="text" ng-model="user.address"/>
    </p>
    <p>
        <label>E-Mail <img/></label>
        <input type="email" ng-model="user.email"/>
    </p>
    <p>
        <label>Telefonnr.</label>
        <input type="tel" ng-model="user.phone"/>
    </p>
    <div style="float: left;">
        <!-- TODO: Where should this go? -->
        <button class="muted">Tilbage</button>
    </div>
    <div style="float: right;">
        <button class="primary" ui-sref="form.expenditure">Næste</button>
    </div>
</section>
<aside>
    <h2>Energinord "Reassurrance"</h2>
    <img />
    <p>Coffee seasonal, aroma sit cup espresso affogato sweet. Cinnamon
        ristretto lungo froth blue mountain id extra black espresso. Cup galão,
        variety at grounds strong and macchiato foam. Cream, cup, frappuccino
        french press id est aromatic.</p>
    <img />
    <p>Fair trade black at pumpkin spice that milk foam. Organic siphon and
        doppio, lungo, barista white shop espresso shop. Cappuccino mocha,
        that, extra frappuccino filter shop blue mountain. Carajillo, viennese
        body, extraction, acerbic, milk steamed barista mazagran robusta.</p>
    <img />
    <p>Sweet decaffeinated, seasonal, froth cappuccino white instant pumpkin
        spice. That aged fair trade, plunger pot, sugar, siphon, ut skinny
        crema doppio seasonal. Cortado caffeine white est extra robust java
        black percolator aged milk. Est coffee, whipped brewed eu, ut beans
        black caffeine shop extra.</p>
</aside>
